<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS DIR</title>
</head>
<body>
    <h1>EJS DIR will be shown or accessed here </h1>
    <h1>multiplication of 5*3 is </h1>
    <h1> <%= 5*3 %> </h1>
    <h2> <%= ["Hello", "Bhupesh", "Choudhary"][0] %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium beatae minima et numquam tenetur amet neque reiciendis repudiandae voluptate assumenda, dolor magni eum alias obcaecati ex expedita inventore veritatis repellat aperiam distinctio explicabo. Quos!</p>

    <button>Button</button>
    <%- include("includes/footer.ejs") %>
</body>
<script src = "/JS/app.js"></script>
</html>